* {
    background-color: pink;
}

header {
    font-family: fantasy;
    color:black;
    background-image: ".images/headerbackground.jpg";
}
nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    text-align: right;
}

h2 {
    font-size: 64px;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}