* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex: 1;
    margin: 0;
}

header {
    /* background-color: rgb(228, 192, 198); */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    justify-content: space-between;
    display: flex;
    background-image: url(./assets/mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 10%;
}

/* ul {
    background-color: rgb(181, 139, 219);
}

ul:hover{
    background-color: rgb(152, 106, 192);
} */

#subheader {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    /* background-color: rgb(135, 193, 240); */
    background-image: url(./assets/fern.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.headshot {
    max-width: 15%;
    min-width: 15%;
    justify-content: flex-start;
    border-radius: 50%;
    margin-left: 1%;
}

section.rowContainer {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    flex:1;
    padding: 5px;
}

aside {
    display: flex;
    flex:1 1 10vw;
    border-right: 5px solid black;
}

article {
    display: flex;
    flex:2 1 40vw;
    justify-content: center;
    align-items: center;
}

.nestedCol {
    display: flex;
    flex: 2 1 40vw;
    flex-wrap: wrap;
    justify-items: stretch;
    align-content: flex-end;
}

.firstImg {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.nestedCol > div {
    max-width: 50%;
    min-width: 50%;
    position: relative;
}

.nestedCol > section {
    position: relative;
}

.otherImgs {
    max-width: 30%;
    min-width: 30%;
    height: auto;
    /* border: 5px solid rgb(228, 192, 198); */
    justify-content: center;
    align-items: center;
    object-fit: cover;
    /* flex: 2 1 40vw; */
}

.workImage {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border: 5px solid rgb(228, 192, 198);
    justify-content: space-between;
    object-fit: cover;
    flex: 1 1 10vw;
}

h2 {
    font-size: 64px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    align-items: flex-start;
    justify-content: flex-start;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    text-align: left;
    text-indent: 30px;
    margin-right: 5px;
    margin-left: 5px;
    overflow: auto;
}

ul {
    list-style-type: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

ul.contact > li {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3 {
    position: relative;
    top: 8px;
    left: 16px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    background-color: rgb(228, 192, 198);
    text-align: center;
    padding: 15px;
}

