:root {
    --frame: rgb(201, 163, 163);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    padding: 20px;
    background-color: var(--frame);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    padding-top: 0px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav a {
    margin: 0px 15px 0px 15px;
}

h2 {
    font-size: 64px;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section {
    /*vborder: 5px solid aquamarine;
    border-radius: 10px;
    padding: 10px;*/
    margin: 20px 50px 20px 50px;
}

section:hover {
    cursor: grab;
    border-style: double;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: var(--frame);
}

.headshot {
    justify-content: right;
    max-width: 10%;
    max-height: 10%;
    position: top, right, absolute;
}